#/usr/lib/systemd/system/

[Unit]
Description = Service file
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/python3 {{ execute_ulcl_tcpdump_file }}
Restart=on-failure

[Install]
WantedBy=multi-user.target