#/usr/lib/systemd/system/

[Unit]
Description= Diameter DSSMessageStatResult Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/python /opt/remoteregal/statsscripts/dssmsg_stats.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

