#/usr/lib/systemd/system/

[Unit]
Description= Diametriq IWFmsgstats Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/python /opt/remoteregal/statsscripts/iwfmsgstats.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

